/*Header formatting*/
body{
    padding: 0 5vw;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;  
    padding-bottom: 56px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
#logoName{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#name{
    font-weight: 600;
}
a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 16px;
    text-decoration: none;
}
#logo{
    width:5vw;
    padding-right: 16px;
}

/*Body formatting*/
.body1{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
section, .myProjects, .mySkills{
    padding: 0 3vw;  
}
button{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    background-color: #FFE599;
    padding: 16px;
    border-radius: 10px;
    border-width: .1em;
}
.heroButton{
    font-size: 32px;
}
hr{
    height: 8px;
    background-color: #6D9EEB;
    border: none;
}
.breakLine{
    padding: 6vw 3vw;  
}
/*Hero formatting*/
em{
    font-style: italic;
}
.hero{
    background-color: #FFE599;
    border-radius: 10px;
    display: grid;
    padding-bottom: 56px;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "heroText imageBox";
    align-items: center;
}
.heroHeading{
    display: flex;
    align-items: center;
}
#heroText{
    grid-area: heroText;
    margin-left: 5vw;
    background-color: rgb(197.2,211.9,235);
    border-radius: 10px;
    padding:3vw;
}
#selfie{
    width: 100%;
    height: auto;

}
#imageBox{
    height: 100%;
    grid-area: imageBox;
}

/*My Skills formatting*/
.icon{
    padding: 8px;
    height: 44px;
    width: 44px
}
.myskillsHeading{
    display: flex;
    justify-content: center;
    margin-bottom: 6vw;  
}
#skillsContainer{
    display:flex;
    background-color: rgba(109, 158, 235, 0.3);
    padding-bottom: 16px;
    background-clip: padding-box;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 3vw 0px;
}
ui{
    list-style: none;
}
.bullet1{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}
.bullet2{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-bottom: 16px;
    align-items: center;
}
.skillsIcons{
    background-color: rgba(109, 158, 235, 0.3);
    border-radius: 10px;
    padding: 8px;
    background-clip: padding-box;
}
/*My Projects formatting*/

#projectsHeading{
    /* padding-left: 5vw;  */
    display: flex;
    justify-content: center;
    margin-bottom: 6vw;  
}
.projectBox{
    display:grid;
    background-color:  rgba(109, 158, 235, 0.3);
    border-radius: 10px;
    margin-top: 24px;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "projectPhoto projectText";
    align-items:center;
    padding:10px
    
}

.projectText{
    padding-left: 16px;
    grid-area: projectText;
    padding: 3vw 2vw;
}

.projectPhoto{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    grid-area: projectPhoto;
    width:100%;
    height: 100%;
}

.animal{
    background-image: url("./images/animal_smallphoto.png");
}

.doi{
    background-image: url("./images/doi_smallphoto.png");
}

.skillfolio{
    background-image: url("./images/photo_template.png");
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight:500;
    font-size: 32px;
}
.projectHeading{
    display: flex;
    align-items:flex-start;
}

.learnMore{
    justify-content: flex-end;
}
/*Footer formatting*/
footer{
    padding-right: 120px;
    padding-left: 120px;
}

.footerText{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.socialIconsBar{
    display: flex;
    justify-content: center;
}

/* Mouse interactions*/
.hover{
    background-color: #FCD974;
    box-shadow: 10px 10px 25%;
    padding: 16px;
    border-radius: 10px;
    border-width: .1em;
    border-color: black;
}

.click{
    background-color: #FB9F4E;
    box-shadow: 10px 10px 25% #FB9F4E; 
    padding: 16px;
    border-radius: 10px;
    border-width: .1em;
    border-color: black;
}

/*mobile screen styles*/
@media only screen and (max-width: 900px){
    /*text reformatting*/
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 16px;;
    }
    .body1{
        font-size: 14px;
    }
    button{
        font-size: 20px;
        background-color: #FFE599;
        padding: 8px;
    }
    .heroButton{
        font-size: 20px; 
    }
    .bullet1{
        font-size: 14px;
    }
    .bullet2{
        font-size: 14px;
    }  
    .hero{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #FFE599;
        align-content: center;
    }
    #heroText{
        grid-area: heroText;
        margin-right: 5vw;
    }
    #imageBox{
        grid-area: imageBox;
    
    }
    #selfie{
    align-self: flex-start;
    } 

    /*My Skillss Formatting*/
    #skillsContainer{
        display:flex;
        flex-direction: column;
    }
    .skillsText{
        padding: 0 2vw 16px;
    }
    #aboutmeButton{
        display:flex;
        justify-content: center;
    }
    #iconBox{
        display: flex;
        justify-content: center;
    }
    .icon{
        height:28px;
        width:28px;
    }
    /*My Projects Formatting*/
    .projectBox{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .projectPhoto{
        width:75vw;
        height: 300px;
    }
    .learnMore{
        display:flex;
        justify-content: center;
    }
}